body {
    background-image: url("img/IA.jpg");
}

small {
    font-size: 14px;
}

#pesos1 {
    font-size: 15px;
}

#pesos1 {
    font-size: 15px;
}

#pesos1 {
    font-size: 15px;
}

#valordeagregados {
    font-size: 15px;
}